<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>MirKnig</title>
</head>
<body>

<div>
    <a href="/">Home</a>
    <br>
    <br>
    <h2>Mir Knig</h2>
    <ul>
        {{#listHead}}
        <li>{{head}}</li>
        {{/listHead}}
    </ul>

</div>

</body>
</html>